#page-login {
  flex: 1;
  height: 100vh;

  display: flex;
  align-items: stretch;
}

#login-background {
  flex: 1;
  background: url('../../assets/images/background.svg') no-repeat center;
  background-size: cover;
}

#form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 650px;
}

#form-container form h2 {
  font-size: 3.6rem;
  font-weight: 600;
  align-self: flex-start;
  margin-bottom: 2.4rem;
}

.login-input-block {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--color-box-base);
  width: 350px;
  height: 72px;

  border-radius: 8px 8px 0 0;
}

.login-input-block:last-child {
  border-radius: 0 0 8px 8px;
  margin-top: 8px;
}

.login-input-block input {
  width: 100%;
  height: 5.6rem;
  border-radius: 0.8rem;
  border: 1px solid #fff;
  outline: 0;
  padding: 0 1.6rem;
  font: 1.6rem Archivo;
  -webkit-appearance: none !important;
}

.login-input-block:focus-within::after {
  width: 2px;
  height: calc(100% - 2.6rem);
  content: '';
  background: var(--color-primary-light);
  position: absolute;
  top: 1.3rem;
  bottom: 1.3rem;
  left: 0;
}


.login-input-block label {
  font-size: 1.6rem;
  color: var(--color-text-in-primary);
  padding: 0 1.6rem;

  display: inline-block;
  position:relative;
  top: 48px;
  transition: all 150ms ease-in;
  color: #676767;
}

.field-active {
  transform: translateY(-20px);
  font-size: .9em;
  color: #000;
}


